#full-clndr
{
  background-color: #0da75b;
  font-weight: 400;

  .clndr-grid
  {
    float: left;
    width: 100%;
    /**border-right: 2px solid white;**/

    .days-of-the-week
    {
      width: 100%;
      background-color: blue;

      .header-day
      {
        float: left;
        width: 11.5%;
        padding: 5px;
        text-align: center;
        color: white;
      }
    }

    .days
    {
      width: 100%;

      .day, .empty
      {
        float: left;
        width: 12%;
        height: 66px;
        padding: 0px 0;

        text-align: center;
        color: #4f4f4f;
        background-color: grey;
        border-bottom: 2px solid white;

        background-image: url('./triangle.svg');
        background-size: cover;
        background-position: center;

        &.event
        {
          .day-number
          {
            padding-bottom: 4px;
            border-bottom: 2px solid blue;
          }
        }

        &.adjacent-month
        {
          .day-number
          {
            opacity: 0.3;
          }
        }
      }

      .today
      {
        background-color: white;
        background-image: none;
      }

    }
  }

  .event-listing
  {
    float: left;
    width: 35%;

    .event-listing-title
    {
      padding: 14px;
      background-color: blue;
      text-align: center;
      color: white;
      letter-spacing: 1px;
    }
    .event-item
    {
      padding: 14px;
      color: #4f4f4f;
    }
    .event-item-location
    {
      font-weight: 400;
    }
  }
}